/* CSS Document */
.s_menu {
    float: right;
    width: 100px;
    position: absolute;
    top: 25px;
    right: 59px;
    *right: 57px;
    _right: 56px;
    z-index: 999;
    border: 1px solid #9b9b9b;
    text-align: left;
    box-shadow: 1px 1px 2px #CCC;
    -webkit-box-shadow: 1px 1px 2px #CCC;
    -moz-box-shadow: 1px 1px 2px #CCC;
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color="#cccccc")  \9

}

.s_menu a {
    text-decoration: none;
    height: 25px;
    line-height: 25px;
    padding-left: 6px;
    width: 94px;
    background-color: #fff;
    -moz-user-select: none;
    cursor: pointer;
    text-align: left;
    display: block;
    color: #00c;
    margin: 0;
    font-size: 12px;
    font-family: arial, \5b8b\4f53, sans-serif;
}

.s_menu a:hover {
    background: #EBEBEB
}

.s_menu a.sep {
    border-top: 1px solid #ebebeb
}