.highlight {
	background: yellow;
	color: #CC0033; {
	color: black
}

}

.resheader{
width:100%;
height:90px;
border-bottom-style:double;
border-bottom-color:#999999;
}

#resultcounts {
	position: relative;
	left: 60px;
	line-height: 57px;
}

.neck {
	border-bottom: 1px solid #dedede;
	width: 100%;
	height: 57px
}

#result {
	
}

#result th {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
	line-height: 35px;
	background-color: #DCE2EE
}
#result td {
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
	line-height: 35px;
	cursor: pointer;
}

#result a {
	color: #333333;
	text-decoration: none;
}

#result a:hover {
	color: #333333;
	text-decoration: underline;
}

#result tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.td {
	width: 558px;
}

.content {
	position: relative;
	left: 125px;
}