<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
	<display-name>Fox FTP Searcher</display-name>

    <welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>admin.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>FTP管理区</web-resource-name>
			<url-pattern>/management/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ftp-manager</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>FTP Management</realm-name>
	</login-config>
	<security-role>
		<description>FTP管理员</description>
		<role-name>ftp-manager</role-name>
	</security-role>
</web-app>